*~
*.mod
*.test
*.test_tapeless
*.out
*.o
*.so
*.a
/examples/bench_advection
/examples/bench_advection_adept
/examples/bench_advection_tapeless
/examples/bench_simple
/examples/bench_simple_adept
/examples/bench_simple_adolc
/examples/bench_simple_cppad
/examples/bench_simple_numdiff
/examples/bench_simple_numdiff_tapeless
/examples/bench_simple_tapeless
/examples/bench_simple_tapeless_adolc
/examples/bench_sparse
/examples/bench_sparse_adolc
/examples/bench_sparse_tapeless
/examples/laplacian
/examples/laplacian_tapeless
/examples/simple
/examples/simple_tapeless
