*~
*.mod
*.test
/examples/simple
/examples/laplacian
/examples/bench_simple
/examples/bench_simple_adept
/examples/bench_simple_adolc
/examples/bench_simple_tapeless_adolc
/examples/bench_simple_cppad
/examples/bench_simple_numdiff
